/* custom properties */
:root {
	color-scheme: dark light;

	--clr-primary: #e2e2e2;
	--clr-secondary: #121418;
	--clr-accent-400: #0fc5b0;

	--ff-primary: system-ui;

	--fs-400: 1rem;
	--fs-700: 1.44rem;
	--fs-800: 1.728rem;
	--fs-900: 2.074rem;

	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	--radius: 0.5rem;
}

/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* global styles */

/* composition */
.wrap {
	margin-inline-start: auto;
	margin-inline-end: auto;
	padding: 0 1rem;
	max-inline-size: 50rem;
}

.flow > * + * {
	margin-block-start: var(--flow-space, 1rem);
}

.split {
	display: flex;
	flex-direction: column;
	row-gap: 4rem;
}

.split > * {
	flex-basis: 100%;
}

@media (min-width: 40em) {
	.split {
		flex-direction: row;
		column-gap: 2.5rem;
	}
}

.xl-space {
	margin-block-start: 5rem !important;
}

/* utility */
.radius {
	border-radius: var(--radius);
}

/* block */

/* exception */
