/* ---------- CUSTOM PROPERTIES ---------- */
:root {
	color-scheme: dark light;

	/* ---------- COLOR STUFF ---------- */
	--clr-primary: #e2e2e2;
	--clr-secondary: #121418;
	--clr-accent-400: #0fc5b0;

	/* ---------- FONT STUFF ---------- */
	--ff-primary: system-ui;

	--fs-400: 1rem;
	--fs-700: 1.44rem;
	--fs-800: 1.728rem;
	--fs-900: 2.074rem;

	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
}
